.px12{font-size: 12px;}
.px36{font-size: 36px;}
   .medium{font-size: medium;}
   .small{font-size: small;}
   .x-small{font-size: x-small;}
   .large{font-size: large;}
   .x-large{font-size: x-large;}
   .xx-large{font-size: xx-large;}