.kelas1{font-size: 24px;
    font-family: "Tempus Sans ITC","Times New Roman",sans-serif;
    font-style: italic;
    font-weight: bold;}
.kelas2{font: bold italic 24px "Tempus Sans ITC", "Times New Roman",sans-serif;}