.alpha{
    border: solid 2px black;
    text-align: center;
}

.bravo{
    border: solid 2px black;
    text-align: center;
    width: 150px;
    height: 100px;
}

.charlie{
    border: solid 2px black;
    text-align: center;
    width: 300px;
}

.delta{
    border: solid 2px black;
    text-align: center;
    width: 200px;
}