.bingkai{border:2px solid blue;
text-align: center;
border-width: thick;}
.bingkai2{border-top: 2px solid blue;
border-left: 2px solid blue;
border-right: 6px solid blue;
border-bottom: 6px solid blue;
background-color: cyan;
color: green;}

.tombol{ border: groove cyan;
width: 200px;
text-align: center;
background-color: blue;
color: white;}

.button{border-style: solid;
border-left-color:red;
border-top-color: green;
border-right-color: orange;
border-bottom-color:red;
width: 200px;
text-align: center;
background-color: blue;
color: white;}